@-webkit-keyframes startAnimation {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    100 % {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

@keyframes startAnimation {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    100 % {
        -webkit-transform: translateX(0);
                transform: translateX(0)
    }
}

body {
    width: 100vw;
    height: 100%;
    font-family: 'Lato';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden
}

h1 {
    color: #fff;
    font-weight: 100;
    width: 60vw;
    text-align: center
}

h3 {
    color: #0f8092;
    font-weight: 100;
    width: 60vw;
    text-align: center;
    font-size: 28px
}

p {
    color: #E0E4CC;
    font-family: 'Lato'
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 12px;
    padding-left: 12px;
    z-index: 5;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(0, 0, 21, .3)
}

.headerImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("img/header-mobile.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-filter: contrast(1.1);
            filter: grayscale(1.1);
            
}

.page {
    width: 100vw;
    height: 100vh
}

#burgerIcon {
    position: absolute;
    top: 6px;
    right: 12px;
    padding: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-transition: 0.5s all linear;
            transition: 0.5s all linear;
    background: url("img/mobileNavIcon.svg") no-repeat top left;
    background-size: cover;
    appearance: none;
    content: '';
}

#burgerIcon:focus {
    -webkit-transition: 0.5s all linear;
            transition: 0.5s all linear;
    -webkit-transform: rotate(0);
            transform: rotate(0);
}

#burgerIcon:focus ~ #navUl, #navUl:hover {
    -webkit-transition: 0.4s all linear;
    transition: 0.4s all linear;
    -webkit-transform: translateY(0);
            transform: translateY(0)
}

nav {
    width: 60vw;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
     -webkit-transition: 0.7s all linear;
    transition: 0.7s all linear;
   -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    padding-top: 32px;
}

nav ul li {
    list-style-type: none;
    width: 40vw;
    text-align: right;
    background-color: rgba(15, 128, 146, 0.8);
    padding: 8px;
}

nav ul li:hover {
    background-color: rgba(15, 128, 146, 0.8);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Dancing Script';
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    font-weight: 100;
    font-size: 18px
}

nav ul li a:hover {
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

#headerPageId {
    -webkit-animation-name: startAnimation;
            animation-name: startAnimation;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 21, .4)
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20vw;
    text-align: left;
    font-size: 18px;
    padding-left: 32px;
    height: 24px;
    line-height: 18px;
    font-family: 'Dancing Script';
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg)
}

#headerPageId p {
    width: 60vw;
    text-align: center;
    padding: 64px 12px;
    font-weight: 100;
    font-size: 14px;
    background-color: rgba(0, 0, 21, .4);
    line-height: 22px;
    text-shadow: 2px 4px 9px #25373D
}

#restaurantButton {
    width: 35vw;
    margin: 0 50px 0 50px;
    text-align: center;
    height: 16px;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border-radius: 12px;
    font-family: 'Lato'
}

#restaurantButton:hover {
    color: #000015
}

#menuId {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 64px;
}

#menuId table {
    width: 70vw;
    font-family: 'Roboto';
    padding: 8px;
    margin-top: 64px
}

#menuId table thead {
    font-family: 'lato';
    color: #000015
}

#menuId table thead th {}

#menuId table tbody {
    text-align: left;
    color: #000015;
    font-family: 'lato'
}

#menuId table tbody th {
    height: 32px;
    color: #000015;
    font-weight: 700;
    padding: 24px
}

#menuId table tbody tr td {
    font-size: 13px;
    font-weight: 700;
    padding: 12px
}

#menuId table tbody tr:nth-child(even) {
    background-color: rgba(15, 128, 146, .2)
}

.content-text h1 {
    font-size: 12px
}

#contactId {
    width: 100vw;
    height: 100%;
    background-color: #02000D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70vh;
    border: none;
    margin-top: 32px
}

fieldset {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60vw;
    height: 55vh
}

label {
    padding: 8px;
    opacity: .9;
    width: 60vw;
    color: #0f8092;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    opacity: .7
}

input {
    width: 60vw;
    height: 18px;
    background-color: rgba(15, 128, 146, .3);
    border: none;
    padding: 8px;
    color: #E0E4CC;
    font-family: 'Lato';
    font-size: 12px;
    opacity: .8
}

textarea {
    width: 60vw;
    height: 48px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
    color: white;
    background-color: rgba(15, 128, 146, .3);
    ;
    border: none;
    padding: 8px;
    font-family: 'Lato';
    color: #E0E4CC;
    opacity: .8
}

#sendMessage {
    width: 182px;
    height: 26px;
    background: none;
    border: none;
    color: #0f8092;
    font-size: 14px;
    font-weight: 700;
    margin: 24px auto;
    font-family: 'Lato';
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear
}

#sendMessage:hover {
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    color: #000015
}

footer {
    height: 100%;
    width: 100vw;
    background-color: #02000D;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #fff;
    padding-top: 24px
}

footer a {
    color: #fff;
    text-decoration: none
}

.headroom {
    display: none;
    will-change: transform;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear
}

.headroom--pinned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0%);
            transform: translateY(0%)
}

.headroom--unpinned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
}